.utmp/

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/

.vs/
.DS_Store

*.csproj
*.unityproj
*.sln
*.slnx
*.user
*.userprefs
*.tmp
*.log